# Duke Sales Analysis Project

**What we want**
- sales by product
- sales between days
- sales by week day
- sales by week/month
- sales comparisons
- order sizes

data needed:
- date
- time
- product

**Starting Up**

iterm:  pyenv activate duke_project_env
        cd Data_Science/duke_sales_project
        git status
        git pull
        jupyter Notebook

PAT: NO SECRETS ALLOWED FOR GITHUB

**PLAN JULY**

- Go over SQL notes
- sort DB design for sales
- get ETL running 


**Resources**

Python logging & exception handling
- https://realpython.com/python-logging/
- https://towardsdatascience.com/what-to-log-from-python-etl-pipelines-9e0cfe29950e/
- https://blog.devops.dev/mastering-exception-handling-in-data-pipelines-ensuring-smooth-data-flow-3ab029d1e855

### To Do

- think about promotions
- how to update stock
- Get files
- extract function
- transform function
- load function
- Error handling
- Logging
- Testing

### Done

- Set up virtual environment ($pyenv activate duke_project_env)
- set up version control
- Created duke_sales database
- function for creating tables 



### Data flow

- Download sales data weekly in CSV format
- Email it to myself
- add it to data folder
- trigger python ETL script
- now stored in Postgres DB
- create views for common analyses
- ship to Tableau for dashboard?

### Environment

Python 3.12.8
pip 25
pandas
airflow (may require rust)
docker
postgresql
sqlalchemy
psycopg2-binary (for using postgres with python)
jupyter notebook

### Database Design

Sales will contain 
- date
- time
- products
- total 

Use OLTP approach for the sales and OLAP for analysis

We are doing small scale analytics so an ETL approach is preferred. We only have one data source so we can keep data integrity and adhere to the DB schema

**Data Modelling and Schema**

Should we normalize? 
- we are only writing once a week and it is not very intensive
- We are doing analytics so want fast query times
- but we also want to ensure data integrity

Star schema might be best in this case

See DBdiagram.io for schema

**Views**

Create an analyst role with CONNECT, SELECT privileges

Create an admin role with CREATEROLE GRANT, REVOKE etc

Create an engineer role with CREATEDB, SELECT, INSERT, UPDATE etc

Make some views for the queries that will be used to get data for reporting (materialized or dematerialised?)

**Partitioning**

Let's try to implement horizontal partitioning by year


### ETL plan

**Define Data Sources and Destinations**

Data sources
- csv file of sales
- excel file of stocks?

Maybe include a script that allows me to manually enter our stock holdings or purchases

Destination
- Postgres database

**Set up Dev environment**

and install dependencies (pandas, sqlalchemy, numpy, airflow, 'requests' for APIs, docker, git, jupyterlab)

**Extract Data** 

- simple csv load to pandas
- save as raw data

**Transform**

- Create necessary tables, clean, and rename
- Save transformed data

**Load Data**

- Initialize database
- create tables
- insert into tables

**Schedule pipeline with Apache Airflow, Dcoker, and Git**

- https://medium.com/@davidaryee360/building-an-etl-pipeline-with-python-and-postgresql-7fc92056f9a3
- https://medium.com/@davidaryee360/automating-an-etl-pipeline-with-apache-airflow-539961baa2ac



**Add error handling and logging**

- try/except blocks
- python logging module
- 

**PAT**

### Getting up and Running

    cd Data_Science/duke_elt_project

    pyenv virtualenv 3.13.1 duke_elt_project_env

    pyenv activate duke_elt_project_env

    mkdir elt_dir

    cd elt_dir

    mkdir elt

    touch elt_script.py

    mv elt_script.py elt

    touch docker-compose.yaml

    code # open VS Code

    docker compose up # when files have been written & saved

    docker exec -it elt-project-target_postgres-1 psql -U postgres # open psql to verify elt worked

In [5]:
!pip3 install --upgrade pip
!pip3 install --upgrade pandas

Requirement already satisfied: pip in /Users/davidcleary/.pyenv/versions/3.13.1/envs/duke_elt_project_env/lib/python3.13/site-packages (25.3)
Requirement already satisfied: pandas in /Users/davidcleary/.pyenv/versions/3.13.1/envs/duke_elt_project_env/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /Users/davidcleary/.pyenv/versions/3.13.1/envs/duke_elt_project_env/lib/python3.13/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/davidcleary/.pyenv/versions/3.13.1/envs/duke_elt_project_env/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/davidcleary/.pyenv/versions/3.13.1/envs/duke_elt_project_env/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/davidcleary/.pyenv/versions/3.13.1/envs/duke_elt_project_env/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/davidcleary/.pyenv/versions/3.13.1/envs/duke_elt_project_env/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [7]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import timeit
#import sqlalchemy as db

ModuleNotFoundError: No module named 'pandas'

In [2]:
connection_url = "postgresql://davidcleary:6CathedralPlace@localhost:5432/duke_sales"

In [19]:
with create_engine(connection_url).connect() as conn:
    conn.execute(create_table_query)

In [3]:
engine = create_engine(connection_url)
conn = engine.connect()

In [506]:
data = pd.read_csv('data/transactions_11-24.csv')
print(data.shape, data.columns)

(46378, 29) Index(['Date', 'Time', 'Order No', 'Account No.', 'Account ID', 'Terminal',
       'Type', 'Description', 'Destination', 'Detail', 'Information',
       'Employee', 'Manager Override', 'Table', 'Customer Name',
       'Price Override', 'Covers', 'Quantity', 'Sales Amount', 'Discount',
       'Service Charge', 'Tip', 'Payment Amount', 'Forfeit Amount', 'VAT',
       'Other Tax', 'Cash Back', 'Change', 'Unnamed: 28'],
      dtype='object')

In [507]:
# Drop some unneeded columns
data = data[['Date', 'Time', 'Order No', 'Account No.', 'Account ID',
             'Type', 'Description', 'Detail', 'Information', 'Quantity', 
             'Sales Amount', 'Discount', 'VAT', 'Payment Amount','Change']]

In [508]:
# Numerical data types
data['Sales Amount'] = data['Sales Amount'].str.replace(",","").astype('float64')
data['Payment Amount'] = data['Payment Amount'].str.replace(",","").astype('float64')

In [509]:
# separate df for checking payment balances
number_checks = data[['Description', 'Type', 'Sales Amount', 'Discount', 'VAT', 'Payment Amount', 'Change']] 
number_checks.sum()

Description       Brixton Low KegTanqueray FlorDash LemonadeDojo...
Type              SaleSaleSalePaymentSaleClearSalePaymentSalePay...
Sales Amount                                               186953.6
Discount                                                    2043.78
VAT                                                        28126.31
Payment Amount                                            184909.82
Change                                                      1210.95
dtype: object

In [511]:
data = data[data['Description'].isin(['Drawer Opened', 'Refusal', 'Regulars Promo']) == False]
number_checks.sum()

Description       Brixton Low KegTanqueray FlorDash LemonadeDojo...
Type              SaleSaleSalePaymentSaleClearSalePaymentSalePay...
Sales Amount                                               186953.6
Discount                                                    2043.78
VAT                                                        28126.31
Payment Amount                                            184909.82
Change                                                      1210.95
dtype: object

In [ ]:
def remove_voided(df):
    
    voids = df[df["Type"].isin(["Item Not Sold", "Clear", "Void"])]["Account ID", "Description", "Detail"]

    for ID in voids["Account ID"].unique():

        account = df[df["Account ID"] == ID]

In [512]:
# functions to find, match, and remove rows related to voids

def get_sale_index(void, df):

    sale = df[ ((df['Account ID'] == void['Account ID']) 
             & (df['Type'].isin(['Sale', 'Merged - to account ', 'Merged - from account'])) 
             & (df['Description'] == void['Description']) 
             & (df['Detail'] == void['Detail'])) ]
    
    try:
        return sale.index[0]
    except:
        print(void, sale)
        raise
        

def remove_voided(df):

    voids = df[df["Type"].isin(["Item Not Sold", "Clear", "Void"])]

    test_sum = 0

    for index, void in voids.iterrows():

        sale_index = get_sale_index(void, df)

        test_sum += abs(void["Sales Amount"] + (df.loc[sale_index]["Sales Amount"]/df.loc[sale_index]["Quantity"]))
        
        
        if df.loc[sale_index]["Quantity"] > 1:
            df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
            df.loc[sale_index]["Quantity"] -= 1
            df = df.drop([index])

          #  test_sum += abs(void["Sales Amount"] + df.loc[sale_index]["Sales Amount"])
        else:
          #  test_sum += abs(void["Sales Amount"] + df.loc[sale_index]["Sales Amount"])
            df = df.drop([index,sale_index])


    print(test_sum)
    return df


start_time = timeit.default_timer()
data = remove_voided(data)
elapsed = timeit.default_timer() - start_time

print(elapsed)
print(data.shape)

/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/1541829423.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame


9.899999999999999
24.10626011500426
(43017, 15)

In [513]:
number_checks = data[['Description', 'Type', 'Sales Amount', 'Discount', 'VAT', 'Payment Amount', 'Change']] 
number_checks.sum()

Description       Brixton Low KegTanqueray FlorDash LemonadeDojo...
Type              SaleSaleSalePaymentSalePaymentSalePaymentSaleS...
Sales Amount                                               187152.4
Discount                                                    2043.78
VAT                                                        28154.32
Payment Amount                                            184909.82
Change                                                      1210.95
dtype: object

### Do we need to get rid of DMN deposits? 

We can see below that they cancel out with "Ledger" payments 
- note these deposits are not real received payments and are the result of an issue with the bookings system
- They don't affect numbers and just add needless rows

Let's remove them (142 rows)

In [515]:
data[data["Type"].isin(['Ledger'])]['Payment Amount'].sum()

np.float64(-21946.04)

In [516]:
data[data["Description"].isin(['DMN Deposit'])]['Payment Amount'].sum()

np.float64(21946.04)

In [517]:
data[data["Description"].isin(['DMN Deposit'])].shape

(71, 15)

In [518]:
# get rid of drawer opens, regulars Promo, DMN, and 'ledger' (may come back to promo)
data = data[data['Description'] != 'DMN Deposit']

# get rid of deposit ledger stuff
data = data[data["Type"] != 'Ledger']

In [519]:
number_checks = data[['Description', 'Type', 'Sales Amount', 'Discount', 'VAT', 'Payment Amount', 'Change']] 
number_checks.sum()

Description       Brixton Low KegTanqueray FlorDash LemonadeDojo...
Type              SaleSaleSalePaymentSalePaymentSalePaymentSaleS...
Sales Amount                                               187152.4
Discount                                                    2043.78
VAT                                                        28154.32
Payment Amount                                            184909.82
Change                                                      1210.95
dtype: object

### Do we need to get rid of merges?

In [520]:
data[data['Type'].isin(['Merged - from account'])]

,Date,Time,Order No,Account No.,Account ID,Type,Description,Detail,Information,Quantity,Sales Amount,Discount,VAT,Payment Amount,Change
1261,01/11/2024,19:27,492581215799219,NaN,4.573968e+14,Merged - from account,Brixton Low Keg,Standard,NaN,-1,-6.80,0.0,0.0,0.0,0.0
2614,01/11/2024,21:09,474989028876191,5699.0,4.573968e+14,Merged - from account,Brixton ColdH Kg,Standard,NaN,-1,-6.70,0.0,0.0,0.0,0.0
2615,01/11/2024,21:09,474989028876191,5699.0,4.573968e+14,Merged - from account,Brixton ColdH Kg,Standard,NaN,-1,-6.70,0.0,0.0,0.0,0.0
2948,01/11/2024,21:45,2357352933097851,5793.0,4.573968e+14,Merged - from account,Birra Moretti Kg,Standard,NaN,-1,-6.70,0.0,0.0,0.0,0.0
2949,01/11/2024,21:45,2357352933097851,5793.0,4.573968e+14,Merged - from account,Birra Moretti Kg,Standard,NaN,-1,-6.70,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45997,30/11/2024,22:22,2339760746988298,NaN,4.573968e+14,Merged - from account,Cruzcampo Kg,Standard,NaN,-1,-6.75,0.0,0.0,0.0,0.0
46096,30/11/2024,22:46,474989028899615,NaN,4.573968e+14,Merged - from account,Guinness,Standard,NaN,-1,-6.80,0.0,0.0,0.0,0.0
46267,30/11/2024,23:21,2357352933196821,NaN,4.573968e+14,Merged - from account,Guinness,Half,NaN,-1,-3.40,0.0,0.0,0.0,0.0
46344,01/12/2024,00:15,2357352933196995,NaN,4.573968e+14,Merged - from account,Desperados Btl,Standard,NaN,-1,-5.60,0.0,0.0,0.0,0.0
46345,01/12/2024,00:15,2357352933196995,NaN,4.573968e+14,Merged - from account,Desperados Btl,Standard,NaN,-1,-5.60,0.0,0.0,0.0,0.0

In [521]:
data[data["Account No."] == 5699]

,Date,Time,Order No,Account No.,Account ID,Type,Description,Detail,Information,Quantity,Sales Amount,Discount,VAT,Payment Amount,Change
2589,01/11/2024,21:06,474989028876191,5699.0,4.573968e+14,Sale,Brixton ColdH Kg,Standard,NaN,1,6.7,0.0,0.00,0.0,0.0
2590,01/11/2024,21:06,474989028876191,5699.0,4.573968e+14,Sale,Brixton ColdH Kg,Standard,NaN,1,6.7,0.0,0.00,0.0,0.0
2614,01/11/2024,21:09,474989028876191,5699.0,4.573968e+14,Merged - from account,Brixton ColdH Kg,Standard,NaN,-1,-6.7,0.0,0.00,0.0,0.0
2615,01/11/2024,21:09,474989028876191,5699.0,4.573968e+14,Merged - from account,Brixton ColdH Kg,Standard,NaN,-1,-6.7,0.0,0.00,0.0,0.0
38012,23/11/2024,23:22,932385861686143,5699.0,4.573968e+14,Sale,Brixton Reli Kg,Standard,NaN,1,6.7,0.0,1.12,0.0,0.0
38013,23/11/2024,23:23,932385861686143,5699.0,4.573968e+14,Payment,Dojo Int,53/9358,NaN,0,0.0,0.0,0.00,6.7,0.0

In [522]:
print(data[data['Type'].isin(['Merged - to account '])]['Sales Amount'].sum())
print(data[data['Type'].isin(['Merged - from account'])]['Sales Amount'].sum())

845.5999999999999
-979.95

They balance each other out - let's check the sums:

In [523]:
number_checks.sum()

Description       Brixton Low KegTanqueray FlorDash LemonadeDojo...
Type              SaleSaleSalePaymentSalePaymentSalePaymentSaleS...
Sales Amount                                               187152.4
Discount                                                    2043.78
VAT                                                        28154.32
Payment Amount                                            184909.82
Change                                                      1210.95
dtype: object

In [524]:
number_checks = number_checks[number_checks["Type"].isin(['Merged - to account ','Merged - from account']) == False]
number_checks.sum()

Description       Brixton Low KegTanqueray FlorDash LemonadeDojo...
Type              SaleSaleSalePaymentSalePaymentSalePaymentSaleS...
Sales Amount                                              187286.75
Discount                                                    2043.78
VAT                                                        28154.32
Payment Amount                                            184909.82
Change                                                      1210.95
dtype: object

It doesn't affect the sales values so we can remove these unneccessary rows.

However first we need to address voids as some merged products are voided:

### is it worth tackling void/clear/item not sold?

In [450]:
data[data["Type"].isin(["Item Not Sold", "Clear", "Void"])].shape

(1514, 15)

1514 out of 45867 are void of sorts - 3%

We can reduce the amount of data we have to analyse by ~6% if we remove voids and their corresponding actions

The function to remove might be slow but only has to be done once per load vs 6% more data for every query
- Let's remove them but check the timing to see if we need to make it more efficient
- We also need to check if the removal affects any balances or payment sums

Problem:
- we cannot search for void/action pairs using the order number because different order numbers can refer to the same account
- account numbers are not unique: they begin again at 0 after 9999
- Can we still search by account number? If rows are in chronological order we should still find the correct pairs
- Could also use account ID, which appear to be unique

In [451]:
print(data["Account No."].isna().sum())
print(data["Account ID"].isna().sum())

338
0

In [452]:
number_checks.sum()

Description       Brixton Low KegTanqueray FlorDash LemonadeDojo...
Type              SaleSaleSalePaymentSaleClearSalePaymentSalePay...
Sales Amount                                               186953.6
Discount                                                    2043.78
VAT                                                        28126.31
Payment Amount                                            184909.82
Change                                                      1210.95
dtype: object

In [489]:
# functions to find, match, and remove rows related to voids

def get_sale_index(void, df):

    sale = df[ ((df['Account ID'] == void['Account ID']) 
             & (df['Type'].isin(['Sale', 'Merged - to account ', 'Merged - from account'])) 
             & (df['Description'] == void['Description']) 
             & (df['Detail'] == void['Detail'])) ]
    
    try:
        return sale.index[0]
    except:
        print(void, sale)
        raise
        

def remove_voided(df):

    voids = df[df["Type"].isin(["Item Not Sold", "Clear", "Void"])]

    test_sum = 0

    for index, void in voids.iterrows():

        sale_index = get_sale_index(void, df)

        test_sum += abs(void["Sales Amount"] + (df.loc[sale_index]["Sales Amount"]/df.loc[sale_index]["Quantity"]))
        
        
        if df.loc[sale_index]["Quantity"] > 1:
            df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
            df.loc[sale_index]["Quantity"] -= 1
            df = df.drop([index])
            
          #  test_sum += abs(void["Sales Amount"] + df.loc[sale_index]["Sales Amount"])
        else:
          #  test_sum += abs(void["Sales Amount"] + df.loc[sale_index]["Sales Amount"])
            df = df.drop([index,sale_index])


    print(test_sum)
    return df


start_time = timeit.default_timer()
data = remove_voided(data)
elapsed = timeit.default_timer() - start_time

print(elapsed)
print(data.shape)

/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Sales Amount"] = df.loc[sale_index]["Sales Amount"]*((df.loc[sale_index]["Quantity"]-1)/df.loc[sale_index]["Quantity"])
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/241949220.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame


9.899999999999999
24.13187224700232
(42875, 15)

In [493]:
# separate df for checking payment balances
number_checks = data[['Description', 'Type', 'Sales Amount', 'Discount', 'VAT', 'Payment Amount', 'Change']]

In [494]:
number_checks.sum()

Description       Brixton Low KegTanqueray FlorDash LemonadeDojo...
Type              SaleSaleSalePaymentSalePaymentSalePaymentSaleS...
Sales Amount                                               187152.4
Discount                                                    2043.78
VAT                                                        28154.32
Payment Amount                                            184909.82
Change                                                      1210.95
dtype: object

The sales amounts have been increased - this is likely because of the removal of "merge to" rows, without removing the corresponding "merge from" rows (or vice versa)

The fact that the payment amounts sum remains unchanged supports this explanation. Let's test if the merges are unbalanced:

In [495]:
print(data[data['Type'].isin(['Merged - to account '])]['Sales Amount'].sum())
print(data[data['Type'].isin(['Merged - from account'])]['Sales Amount'].sum())

845.5999999999999
-979.95

In [492]:
number_checks = number_checks[number_checks["Type"].isin(['Merged - to account ','Merged - from account']) == False]
number_checks.sum()

Description       Brixton Low KegTanqueray FlorDash LemonadeDojo...
Type              SaleSaleSalePaymentSalePaymentSalePaymentSaleS...
Sales Amount                                              187286.75
Discount                                                    2043.78
VAT                                                        28154.32
Payment Amount                                            184909.82
Change                                                      1210.95
dtype: object

There is still a difference between sales amount and payment + discount of 333.15

Could this be from wastage? Let's take a look:

In [392]:
data[data["Account ID"] == 457396838715959]

,Date,Time,Order No,Account No.,Account ID,Type,Description,Detail,Information,Quantity,Sales Amount,Discount,VAT,Payment Amount,Change
380,01/11/2024,18:05,932385861591810,5100.0,4.573968e+14,Sale,Old Mout BerrKg,Standard,NaN,1,6.3,0.0,0.0,0.0,0.0
1194,01/11/2024,19:24,492581215799065,5100.0,4.573968e+14,Sale,Amstel Kg,Standard,NaN,1,5.8,0.0,0.0,0.0,0.0
1195,01/11/2024,19:24,492581215799065,5100.0,4.573968e+14,Sale,Amstel Kg,Standard,NaN,1,5.8,0.0,0.0,0.0,0.0
1196,01/11/2024,19:24,492581215799065,5100.0,4.573968e+14,Sale,Amstel Kg,Standard,NaN,1,5.8,0.0,0.0,0.0,0.0
1198,01/11/2024,19:24,2339760746967824,5100.0,4.573968e+14,Sale,Inchs Cider Kg,Standard,NaN,1,5.8,0.0,0.0,0.0,0.0
1199,01/11/2024,19:24,2339760746967824,5100.0,4.573968e+14,Sale,Inchs Cider Kg,Standard,NaN,1,5.8,0.0,0.0,0.0,0.0
1200,01/11/2024,19:24,2339760746967824,5100.0,4.573968e+14,Sale,Inchs Cider Kg,Standard,NaN,1,5.8,0.0,0.0,0.0,0.0
1201,01/11/2024,19:24,2339760746967824,5100.0,4.573968e+14,Sale,Inchs Cider Kg,Standard,NaN,1,5.8,0.0,0.0,0.0,0.0
1260,01/11/2024,19:27,492581215799229,5100.0,4.573968e+14,Merged - to account,Brixton Low Keg,Standard,NaN,1,6.8,0.0,0.0,0.0,0.0
1267,01/11/2024,19:27,492581215799229,5100.0,4.573968e+14,Sale,Amstel Kg,Standard,NaN,1,5.8,0.0,0.0,0.0,0.0
2317,01/11/2024,20:37,2339760746968729,5100.0,4.573968e+14,Sale,Rambler Red,250ml,NaN,1,9.2,0.0,0.0,0.0,0.0
2318,01/11/2024,20:37,2339760746968729,5100.0,4.573968e+14,Sale,Rambler Red,250ml,NaN,1,9.2,0.0,0.0,0.0,0.0
3460,01/11/2024,22:52,932385861599155,5100.0,4.573968e+14,Sale,Brixton Reli Kg,Standard,NaN,1,6.7,0.0,0.0,0.0,0.0
3461,01/11/2024,22:52,932385861599155,5100.0,4.573968e+14,Sale,Five Pts JUPA Kg,Standard,NaN,1,6.7,0.0,0.0,0.0,0.0
3462,01/11/2024,22:52,932385861599155,5100.0,4.573968e+14,Sale,Birra Moretti Kg,Standard,NaN,1,6.7,0.0,0.0,0.0,0.0
3463,01/11/2024,22:52,932385861599155,5100.0,4.573968e+14,Sale,Brixton Low Keg,Standard,NaN,1,6.8,0.0,0.0,0.0,0.0
3464,01/11/2024,22:52,932385861599155,5100.0,4.573968e+14,Sale,Inchs Cider Kg,Standard,NaN,1,5.8,0.0,0.0,0.0,0.0
3915,01/11/2024,23:47,492581215801572,5100.0,4.573968e+14,Merged - to account,Lucky Saint Btl,Standard,NaN,1,4.7,0.0,0.0,0.0,0.0
3916,01/11/2024,23:47,492581215801572,5100.0,4.573968e+14,Merged - to account,Brixton ColdH Kg,Standard,NaN,1,6.7,0.0,0.0,0.0,0.0
3919,01/11/2024,23:47,492581215801581,5100.0,4.573968e+14,Merged - to account,Brixton ColdH Kg,Standard,NaN,1,6.7,0.0,0.0,0.0,0.0
3920,01/11/2024,23:47,492581215801581,5100.0,4.573968e+14,Merged - to account,Brixton ColdH Kg,Standard,NaN,1,6.7,0.0,0.0,0.0,0.0
3954,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Rambler Red,250ml,Wastage,-1,-9.2,0.0,0.0,0.0,0.0
3955,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Rambler Red,250ml,Wastage,-1,-9.2,0.0,0.0,0.0,0.0
3956,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Amstel Kg,Standard,Wastage,-1,-5.8,0.0,0.0,0.0,0.0
3957,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Brixton Low Keg,Standard,Wastage,-1,-6.8,0.0,0.0,0.0,0.0
3958,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Inchs Cider Kg,Standard,Wastage,-1,-5.8,0.0,0.0,0.0,0.0
3959,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Inchs Cider Kg,Standard,Wastage,-1,-5.8,0.0,0.0,0.0,0.0
3960,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Inchs Cider Kg,Standard,Wastage,-1,-5.8,0.0,0.0,0.0,0.0
3961,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Inchs Cider Kg,Standard,Wastage,-1,-5.8,0.0,0.0,0.0,0.0
3962,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Amstel Kg,Standard,Wastage,-1,-5.8,0.0,0.0,0.0,0.0
3963,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Amstel Kg,Standard,Wastage,-1,-5.8,0.0,0.0,0.0,0.0
3964,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Amstel Kg,Standard,Wastage,-1,-5.8,0.0,0.0,0.0,0.0
3965,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Old Mout BerrKg,Standard,Wastage,-1,-6.3,0.0,0.0,0.0,0.0
3966,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Brixton Reli Kg,Standard,Wastage,-1,-6.7,0.0,0.0,0.0,0.0
3967,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Five Pts JUPA Kg,Standard,Wastage,-1,-6.7,0.0,0.0,0.0,0.0
3968,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Birra Moretti Kg,Standard,Wastage,-1,-6.7,0.0,0.0,0.0,0.0
3969,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Brixton Low Keg,Standard,Wastage,-1,-6.8,0.0,0.0,0.0,0.0
3970,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Inchs Cider Kg,Standard,Wastage,-1,-5.8,0.0,0.0,0.0,0.0
3971,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Brixton ColdH Kg,Standard,Wastage,-1,-6.7,0.0,0.0,0.0,0.0
3972,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Lucky Saint Btl,Standard,Wastage,-1,-4.7,0.0,0.0,0.0,0.0
3973,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Brixton ColdH Kg,Standard,Wastage,-1,-6.7,0.0,0.0,0.0,0.0
3974,02/11/2024,00:32,474989028877185,5100.0,4.573968e+14,Wastage,Brixton ColdH Kg,Standard,Wastage,-1,-6.7,0.0,0.0,0.0,0.0

Above we see that sales amount for wastage just cancels out the product sales amount

We will keep wastage in the dataset even thouhg it doesn't contribute to sales, so we can eventually use it for stock control

This is not the cause of the discrepancy between the sales amount and payment + discount sums though. Let's see what else it could be:

In [394]:
data.columns

Index(['Date', 'Time', 'Order No', 'Account No.', 'Account ID', 'Type',
       'Description', 'Detail', 'Information', 'Quantity', 'Sales Amount',
       'Discount', 'VAT', 'Payment Amount', 'Change'],
      dtype='object')

In [402]:
data[data["Information"].isin(['Reason: Birthday', 'Reason: Food Quality',
       'Reason: Event Artist Rider', 'Reason: Incident',
       'Reason: Manager Incentive'])]

,Date,Time,Order No,Account No.,Account ID,Type,Description,Detail,Information,Quantity,Sales Amount,Discount,VAT,Payment Amount,Change
4865,02/11/2024,15:37,492581215802262,6304.0,4.573968e+14,Discount,*Customer Wet 100%,NaN,Reason: Birthday,0,0.0,26.20,0.0,0.0,0.0
10869,03/11/2024,18:03,932385861615451,7902.0,4.573968e+14,Discount,*Customer Wet 100%,NaN,Reason: Food Quality,0,0.0,6.80,0.0,0.0,0.0
16862,09/11/2024,00:30,474989028881224,9275.0,4.573968e+14,Discount,*Artist Wet 100%,NaN,Reason: Event Artist Rider,0,0.0,50.60,0.0,0.0,0.0
30594,16/11/2024,22:39,932385861664352,2593.0,4.573968e+14,Discount,*Customer Wet 100%,NaN,Reason: Incident,0,0.0,198.00,0.0,0.0,0.0
39116,25/11/2024,19:23,932385861689772,6046.0,4.573968e+14,Discount,*Customer Wet 50%,NaN,Reason: Manager Incentive,0,0.0,6.15,0.0,0.0,0.0

In [ ]:
data = data[data["Type"].isin(['Merged - to account ','Merged - from account']) == False]

In [190]:
data["Type"].unique()

array(['Sale', 'Payment', 'Clear', 'Void', 'Merged - to account ',
       'Merged - from account', 'Wastage', 'Discount', 'Item Not Sold',
       'Refund', 'Reverse Pay', 'Correcte d Discount', 'Ledger'],
      dtype=object)

In [210]:
data[data["Type"] == "Ledger"]["Payment Amount"].astype(float).sum()

np.float64(-21946.04)

In [212]:
162963.78 + 21946.04 + 2043.78

186953.6

In [125]:
data['Information'].unique()

array([nan, 'Wastage', 'Reason: Birthday', 'Reason: Food Quality',
       'Reason: Event Artist Rider', 'Reason: Incident',
       'Reason: Manager Incentive'], dtype=object)

In [168]:
data[data['Order No'] == 474989028874856]['Account ID']

1690    4.573968e+14
1710    4.573968e+14
1739    4.573968e+14
1740    4.573968e+14
Name: Account ID, dtype: float64

In [166]:
data[data["Type"] == "Void"]

,Date,Time,Order No,Account No.,Account ID,Type,Description,Detail,Information,Quantity,Sales Amount,Discount,Payment Amount
264,01/11/2024,17:40,2357352933093343,4989.0,4.573968e+14,Void,Cola,Pint,NaN,-1,-3.50,0.0,0.00
265,01/11/2024,17:40,2357352933093343,4989.0,4.573968e+14,Void,Cola,Pint,NaN,-1,-3.50,0.0,0.00
1739,01/11/2024,19:55,474989028874856,5449.0,4.573968e+14,Void,Brixton ColdH Kg,Standard,NaN,-1,-6.70,0.0,0.00
1740,01/11/2024,19:55,474989028874856,5449.0,4.573968e+14,Void,Cruzcampo Kg,Standard,NaN,-1,-6.75,0.0,0.00
2953,01/11/2024,21:45,2357352933097857,5106.0,4.573968e+14,Void,Birra Moretti Kg,Standard,NaN,-1,-6.70,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46360,01/12/2024,00:59,474989028899775,7547.0,4.573968e+14,Void,Morgan Spiced Ru,Standard,NaN,-1,-5.00,0.0,0.00
46361,01/12/2024,00:59,474989028899775,7547.0,4.573968e+14,Void,Morgan Spiced Ru,Standard,NaN,-1,-5.00,0.0,0.00
46362,01/12/2024,00:59,474989028899775,7547.0,4.573968e+14,Void,Cazcabel Blanco,Standard,NaN,-1,-5.30,0.0,0.00
46363,01/12/2024,00:59,474989028899775,7547.0,4.573968e+14,Void,Morgan Spiced Ru,Standard,NaN,-1,-5.00,0.0,0.00
46364,01/12/2024,00:59,474989028899775,7547.0,4.573968e+14,Void,Cazcabel Blanco,Standard,NaN,-1,-5.30,0.0,0.00

In [129]:
#test_order = data[data['Order No']==932385861645842]
#voids = data[data["Type"].isin(["Item Not Sold", "Clear"])]

/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1
/var/folders/q_/w0095wpj6373qq43x_dfcg1w0000gn/T/ipykernel_16145/3626664070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[sale_index]["Quantity"] -= 1

In [130]:
data[data['Type'].isin(['Merged - to account ', 'Merged - from account'])]

# Merges will cancel each other out based on quantity

,Date,Time,Order No,Account No.,Account ID,Type,Description,Detail,Information,Quantity,Sales Amount,Discount,Payment Amount
1260,01/11/2024,19:27,492581215799229,5100.0,4.573968e+14,Merged - to account,Brixton Low Keg,Standard,NaN,1,6.80,0.0,0.00
1261,01/11/2024,19:27,492581215799219,NaN,4.573968e+14,Merged - from account,Brixton Low Keg,Standard,NaN,-1,-6.80,0.0,0.00
2612,01/11/2024,21:09,474989028876197,5353.0,4.573968e+14,Merged - to account,Brixton ColdH Kg,Standard,NaN,1,6.70,0.0,0.00
2613,01/11/2024,21:09,474989028876197,5353.0,4.573968e+14,Merged - to account,Brixton ColdH Kg,Standard,NaN,1,6.70,0.0,0.00
2614,01/11/2024,21:09,474989028876191,5699.0,4.573968e+14,Merged - from account,Brixton ColdH Kg,Standard,NaN,-1,-6.70,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46267,30/11/2024,23:21,2357352933196821,NaN,4.573968e+14,Merged - from account,Guinness,Half,NaN,-1,-3.40,0.0,0.00
46342,01/12/2024,00:15,2357352933197000,7186.0,4.573968e+14,Merged - to account,Desperados Btl,Standard,NaN,1,5.60,0.0,0.00
46343,01/12/2024,00:15,2357352933197000,7186.0,4.573968e+14,Merged - to account,Desperados Btl,Standard,NaN,1,5.60,0.0,0.00
46344,01/12/2024,00:15,2357352933196995,NaN,4.573968e+14,Merged - from account,Desperados Btl,Standard,NaN,-1,-5.60,0.0,0.00
46345,01/12/2024,00:15,2357352933196995,NaN,4.573968e+14,Merged - from account,Desperados Btl,Standard,NaN,-1,-5.60,0.0,0.00

In [142]:
data[data["Account No."] == 7186]

,Date,Time,Order No,Account No.,Account ID,Type,Description,Detail,Information,Quantity,Sales Amount,Discount,Payment Amount
8258,02/11/2024,19:51,932385861608601,7186.0,4.573968e+14,Sale,House Prosecco,Standard,NaN,1,35.00,0.0,0.00
8268,02/11/2024,19:51,932385861608601,7186.0,4.573968e+14,Sale,2 Glasses,Standard,NaN,1,0.00,0.0,0.00
8279,02/11/2024,19:52,932385861608601,7186.0,4.573968e+14,Payment,Dojo Int,53/5833,NaN,0,0.00,0.0,35.00
44075,30/11/2024,18:23,2357352933192086,7186.0,4.573968e+14,Merged - to account,Orange Post,Pint,NaN,1,3.50,0.0,0.00
44504,30/11/2024,19:06,2357352933193023,7186.0,4.573968e+14,Sale,Frank GingerBeer,Standard,NaN,1,2.00,0.0,0.00
44505,30/11/2024,19:06,2357352933193023,7186.0,4.573968e+14,Sale,Red Bull,Standard,NaN,1,3.00,0.0,0.00
44664,30/11/2024,19:25,474989028898918,7186.0,4.573968e+14,Sale,Apple Juice,Standard,NaN,1,2.50,0.0,0.00
45470,30/11/2024,21:03,474989028899033,7186.0,4.573968e+14,Sale,Pineapple Juice,Pint,NaN,1,3.50,0.0,0.00
46174,30/11/2024,23:05,2357352933196601,7186.0,4.573968e+14,Sale,Staff Pmix Pint,Standard,NaN,1,1.00,0.0,0.00
46175,30/11/2024,23:05,2357352933196601,7186.0,4.573968e+14,Sale,Lemonade,Pint,NaN,1,0.00,0.0,0.00
46342,01/12/2024,00:15,2357352933197000,7186.0,4.573968e+14,Merged - to account,Desperados Btl,Standard,NaN,1,5.60,0.0,0.00
46343,01/12/2024,00:15,2357352933197000,7186.0,4.573968e+14,Merged - to account,Desperados Btl,Standard,NaN,1,5.60,0.0,0.00
46365,01/12/2024,00:59,474989028899801,7186.0,4.573968e+14,Discount,*Security Wet 100%,NaN,NaN,0,0.00,26.7,0.00

In [162]:
data["Account ID"].unique()

array([4.57396839e+14, 4.57396839e+14, 4.57396839e+14, ...,
       4.57396839e+14, 2.99074039e+15, 4.57396839e+14], shape=(13199,))

In [144]:
data.shape

(43544, 13)

In [163]:
data["Order No"].unique()

array([ 932385861590658, 2357352933092435, 2357352933092462, ...,
        474989028899821,  474989028899848,  474989028899880],
      shape=(13648,))

In [164]:
data["Type"].unique()

array(['Sale', 'Payment', 'Void', 'Merged - to account ',
       'Merged - from account', 'Wastage', 'Discount', 'Refund',
       'Reverse Pay', 'Correcte d Discount', 'Ledger'], dtype=object)

In [165]:
data[data["Type"].isin(["Discount","Payment", 'Wastage', 'Refund', 'Reverse Pay', 'Correcte d Discount', 'Ledger'])]

,Date,Time,Order No,Account No.,Account ID,Type,Description,Detail,Information,Quantity,Sales Amount,Discount,Payment Amount
3,01/11/2024,15:04,932385861590658,4982.0,4.573968e+14,Payment,Dojo Int,53/5051,NaN,0,0.00,0.0,19.10
7,01/11/2024,15:05,2357352933092435,4983.0,4.573968e+14,Payment,Dojo Int,34/2782,NaN,0,0.00,0.0,4.50
9,01/11/2024,15:05,2357352933092462,4984.0,4.573968e+14,Payment,Dojo Int,34/2783,NaN,0,0.00,0.0,4.50
12,01/11/2024,15:06,2357352933092486,4985.0,4.573968e+14,Payment,Dojo Int,34/2784,NaN,0,0.00,0.0,6.30
16,01/11/2024,15:10,2357352933092508,4986.0,4.573968e+14,Payment,Dojo Int,34/2785,NaN,0,0.00,0.0,20.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46370,01/12/2024,01:00,474989028899821,7184.0,4.573968e+14,Wastage,Greenalls Gin,Standard,Wastage,-1,-5.00,0.0,0.00
46371,01/12/2024,01:00,474989028899821,7184.0,4.573968e+14,Wastage,Captain Dark,Standard,Wastage,-1,-5.00,0.0,0.00
46372,01/12/2024,01:00,474989028899821,7184.0,4.573968e+14,Wastage,Brixton Low Keg,Standard,Wastage,-1,-6.80,0.0,0.00
46375,01/12/2024,01:13,474989028899848,7185.0,4.573968e+14,Discount,*Bar Staff Wet 100%,NaN,NaN,0,0.00,86.2,0.00
46377,01/12/2024,01:24,474989028899880,8039.0,4.573968e+14,Payment,ICO Payment,27/8906,NaN,0,0.00,0.0,"1,120.30"

In [139]:
accounts = data[data["Account No."].isna() == False]

In [140]:
accounts.head(20)

,Date,Time,Order No,Account No.,Account ID,Type,Description,Detail,Information,Quantity,Sales Amount,Discount,Payment Amount
0,01/11/2024,15:04,932385861590658,4982.0,4.573968e+14,Sale,Brixton Low Keg,Standard,NaN,1,6.80,0.0,0.00
1,01/11/2024,15:04,932385861590658,4982.0,4.573968e+14,Sale,Tanqueray Flor,Double,NaN,1,11.00,0.0,0.00
2,01/11/2024,15:04,932385861590658,4982.0,4.573968e+14,Sale,Dash Lemonade,Standard,NaN,1,1.30,0.0,0.00
3,01/11/2024,15:04,932385861590658,4982.0,4.573968e+14,Payment,Dojo Int,53/5051,NaN,0,0.00,0.0,19.10
6,01/11/2024,15:05,2357352933092435,4983.0,4.573968e+14,Sale,Amstel Kg,Standard,NaN,1,4.50,0.0,0.00
7,01/11/2024,15:05,2357352933092435,4983.0,4.573968e+14,Payment,Dojo Int,34/2782,NaN,0,0.00,0.0,4.50
8,01/11/2024,15:05,2357352933092462,4984.0,4.573968e+14,Sale,Amstel Kg,Standard,NaN,1,4.50,0.0,0.00
9,01/11/2024,15:05,2357352933092462,4984.0,4.573968e+14,Payment,Dojo Int,34/2783,NaN,0,0.00,0.0,4.50
10,01/11/2024,15:06,2357352933092486,4985.0,4.573968e+14,Sale,Greenalls Pink,Standard,NaN,1,5.00,0.0,0.00
11,01/11/2024,15:06,2357352933092486,4985.0,4.573968e+14,Sale,Dash Lemonade,Standard,NaN,1,1.30,0.0,0.00
12,01/11/2024,15:06,2357352933092486,4985.0,4.573968e+14,Payment,Dojo Int,34/2784,NaN,0,0.00,0.0,6.30
13,01/11/2024,15:10,2357352933092508,4986.0,4.573968e+14,Sale,Guinness,Standard,NaN,1,6.80,0.0,0.00
14,01/11/2024,15:10,2357352933092508,4986.0,4.573968e+14,Sale,Guinness,Standard,NaN,1,6.80,0.0,0.00
15,01/11/2024,15:10,2357352933092508,4986.0,4.573968e+14,Sale,Guinness,Standard,NaN,1,6.80,0.0,0.00
16,01/11/2024,15:10,2357352933092508,4986.0,4.573968e+14,Payment,Dojo Int,34/2785,NaN,0,0.00,0.0,20.40
22,01/11/2024,15:22,2357352933092531,4987.0,4.573968e+14,Sale,Birra Moretti Kg,Standard,NaN,1,6.70,0.0,0.00
23,01/11/2024,15:22,2357352933092531,4987.0,4.573968e+14,Sale,Birra Moretti Kg,Standard,NaN,1,6.70,0.0,0.00
24,01/11/2024,15:23,2357352933092531,4987.0,4.573968e+14,Payment,Dojo Int,53/5052,NaN,0,0.00,0.0,13.40
27,01/11/2024,15:25,932385861590706,4988.0,4.573968e+14,Sale,Guinness,Standard,NaN,1,6.80,0.0,0.00
28,01/11/2024,15:25,932385861590706,4988.0,4.573968e+14,Sale,Guinness,Standard,NaN,1,6.80,0.0,0.00

In [141]:
data['Type'].unique()

array(['Sale', 'Payment', 'Void', 'Merged - to account ',
       'Merged - from account', 'Wastage', 'Discount', 'Refund',
       'Reverse Pay', 'Correcte d Discount', 'Ledger'], dtype=object)

In [51]:
data['Information'].unique()

array([nan, 'Wastage', 'Reason: Birthday', 'Reason: Food Quality',
       'Reason: Event Artist Rider', 'Reason: Incident',
       'Reason: Manager Incentive'], dtype=object)

array(['Sale', 'Payment', 'Clear', 'Void', 'Merged - to account ',
       'Merged - from account', 'Wastage', 'Discount', 'Item Not Sold',
       'Refund', 'Reverse Pay', 'Correcte d Discount', 'Ledger'],
      dtype=object)

In [55]:
data[data['Type'].isin(['Merged - to account ', 'Merged - from account'])]

,Date,Time,Order No,Type,Description,Destination,Detail,Information,Quantity,Sales Amount,Discount,Payment Amount,VAT
1260,01/11/2024,19:27,492581215799229,Merged - to account,Brixton Low Keg,Standard,Standard,NaN,1,6.80,0.0,0.00,0.0
1261,01/11/2024,19:27,492581215799219,Merged - from account,Brixton Low Keg,Standard,Standard,NaN,-1,-6.80,0.0,0.00,0.0
2612,01/11/2024,21:09,474989028876197,Merged - to account,Brixton ColdH Kg,Standard,Standard,NaN,1,6.70,0.0,0.00,0.0
2613,01/11/2024,21:09,474989028876197,Merged - to account,Brixton ColdH Kg,Standard,Standard,NaN,1,6.70,0.0,0.00,0.0
2614,01/11/2024,21:09,474989028876191,Merged - from account,Brixton ColdH Kg,Standard,Standard,NaN,-1,-6.70,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
46267,30/11/2024,23:21,2357352933196821,Merged - from account,Guinness,Standard,Half,NaN,-1,-3.40,0.0,0.00,0.0
46342,01/12/2024,00:15,2357352933197000,Merged - to account,Desperados Btl,Standard,Standard,NaN,1,5.60,0.0,0.00,0.0
46343,01/12/2024,00:15,2357352933197000,Merged - to account,Desperados Btl,Standard,Standard,NaN,1,5.60,0.0,0.00,0.0
46344,01/12/2024,00:15,2357352933196995,Merged - from account,Desperados Btl,Standard,Standard,NaN,-1,-5.60,0.0,0.00,0.0
46345,01/12/2024,00:15,2357352933196995,Merged - from account,Desperados Btl,Standard,Standard,NaN,-1,-5.60,0.0,0.00,0.0

In [57]:
data[data['Order No'].isin([492581215799229, 492581215799219])]

,Date,Time,Order No,Type,Description,Destination,Detail,Information,Quantity,Sales Amount,Discount,Payment Amount,VAT
1259,01/11/2024,19:27,492581215799219,Sale,Brixton Low Keg,Standard,Standard,NaN,1,6.80,0.0,0.00,0.0
1260,01/11/2024,19:27,492581215799229,Merged - to account,Brixton Low Keg,Standard,Standard,NaN,1,6.80,0.0,0.00,0.0
1261,01/11/2024,19:27,492581215799219,Merged - from account,Brixton Low Keg,Standard,Standard,NaN,-1,-6.80,0.0,0.00,0.0
1267,01/11/2024,19:27,492581215799229,Sale,Amstel Kg,Standard,Standard,NaN,1,5.80,0.0,0.00,0.0

In [ ]:
for order in